@import "../../index.scss";

.cart {
   padding: $pad-6y;

   .cart-head {
      text-align: center;
      margin-bottom: 5rem;
   }

   .cart-inner {
      display: grid;
      grid-template-columns: 1fr 35rem;
      align-items: start;
      gap: 4rem;
   }
}

@media (max-width: 1024px) {
   .cart {
      .cart-inner {
         grid-template-columns: 1fr;
      }
   }
}
