@import "../../index.scss";

.cart-item {
   background-color: $c-white-cream;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 2rem 5rem 2rem 2rem;
   margin-bottom: 1rem;
}

.item-name {
   font-weight: 500;
}

.item-info {
   display: flex;
   align-items: center;
   gap: 10rem;
}

.btns {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.btn-qty-adjust {
   background-color: darken($c-red-light, 5%);
   border: none;
   border-radius: 50%;
   color: $c-white;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 30px;
   width: 30px;
   padding: 0;
   transition: all 0.4s ease;
}

@media (max-width: 768px) {
   .cart-item {
      flex-direction: column;
      padding: 2rem;
   }

   .item-name {
      align-self: flex-start;
   }

   .item-info {
      width: 100%;
      justify-content: space-between;
      margin-top: 2rem;
   }
}
