@import "../../index.scss";

.cart {
   padding: $pad-y4_8;

   &-head {
      text-align: center;
      margin-bottom: 5rem;

      h2 {
         color: darken($c-yellow-mustard, 5%);
         font-size: $fs-600;
      }
   }

   .empty-cart {
      background-color: $c-red-light;
      border-radius: 20px;
      text-align: center;
      padding: $pad-y6-x2;

      p {
         font-size: $fs-700;
         font-weight: 600;
         margin-bottom: 4rem;
      }

      button {
         background-color: darken($c-red-fire-brick, 5%);
         border: 1px solid $c-red-fire-brick;
         border-radius: 30px;
         color: $c-white;
         font-size: $fs-300;
         padding: 1rem 3rem;
      }
   }

   .cart-inner {
      display: grid;
      grid-template-columns: 1fr 35rem;
      align-items: start;
      gap: 4rem;
   }
}

@media (max-width: 1024px) {
   .cart {
      .cart-inner {
         grid-template-columns: 1fr;
      }
   }
}
