@import "../../index.scss";

.cart {
   padding: $pad-y-5_9;

   .cart-head {
      text-align: center;
      margin-bottom: 5rem;
   }

   .cart-inner {
      display: grid;
      grid-template-columns: 1fr 35rem;
      align-items: start;
      gap: 4rem;
   }

   .empty-cart {
      background-color: $c-white-cream;
      text-align: center;
      padding: 5rem 2rem;
      border-radius: 20px;

      p {
         font-size: $fs-700;
         font-weight: 700;
         margin-bottom: 4rem;
      }

      button {
         background-color: darken($c-red-light, 5%);
         border: 1px solid $c-red-light;
         border-radius: 30px;
         color: $c-white;
         font-size: $fs-300;
         padding: 1rem 3rem;
      }
   }
}

@media (max-width: 1024px) {
   .cart {
      .cart-inner {
         grid-template-columns: 1fr;
      }
   }
}
