@import "../../index.scss";

.menu-item {
   background-color: $c-red-light;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   padding: 1.2rem;

   .item-img {
      border-radius: 20px;
      overflow: hidden;
   }

   .item-info {
      flex: 1;
      display: flex;
      flex-direction: column;
   }
}

.item-head {
   color: darken($c-red-brick, 5%);
   display: flex;
   justify-content: space-between;
   gap: 2rem;
   margin-top: 2rem;

   h4 {
      font-size: $fs-400;
      font-weight: 500;
   }

   .item-price {
      font-weight: 500;
   }
}

.item-desc {
   color: darken($c-white, 60%);
   font-size: $fs-300;
   font-style: italic;
   margin: 1rem 0 3rem 0;
}

.item-lower {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   min-height: 39px;
   margin-top: auto;

   :global(.btn-red-brick) {
      @include btn-props(20px, $fs-300, null, 8px 16px);
   }
}

.btns-qty {
   display: flex;
   align-items: center;
   gap: 0.7rem;

   :global(.btn-red-brick) {
      @include btn-props(50%, $fs-300, null, 0);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
   }

   .item-qty {
      font-weight: 500;
   }
}

@media (max-width: 900px) {
   .menu-item {
      padding: 1.5rem;

      .item-img {
         display: none;
      }
   }

   .item-head {
      margin-top: 0;
   }

   .item-desc {
      margin: 1 0 2rem 0;
   }
}

@media (max-width: 500px) {
   .item-head {
      .item-price,
      h4 {
         font-size: $fs-300;
      }
   }

   .item-desc,
   .btn-add,
   .item-qty,
   .btn-qty-adjust {
      font-size: $fs-200;
   }
}
