@import "../../index.scss";

.menu-item {
   background-color: $c-cream;
   border-radius: 3px;
   padding: 1.2rem;
   display: flex;
   flex-direction: column;
   border-radius: 20px;

   .item-img {
      border-radius: 20px;
      overflow: hidden;
   }

   .item-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
}

.item-head {
   margin-top: 2rem;
   color: $c-blue-dark;

   h4 {
      font-size: $fs-400;
      font-weight: 500;
   }

   p {
      color: darken($c-white, 65%);
      font-size: $fs-300;
      font-style: italic;
      margin-top: 0.5rem;
   }
}

.item-lower {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 3rem;

   .item-price {
      color: $c-blue-dark;
      font-weight: 500;
   }
}

.add-to-cart {
   border: none;
   border-radius: 20px;
   padding: 0.8rem 1.6rem;
   transition: all 0.4s ease;
   font-size: $fs-300;
   background-color: darken($c-red-light, 5%);
   color: $c-white;
}

.content {
   display: flex;
   align-items: center;
   gap: 0.7rem;

   .btn-cart {
      border: none;
      border-radius: 50%;
      padding: 0;
      transition: all 0.4s ease;
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: darken($c-red-light, 5%);
      color: $c-white;
   }
}
