@import "../../index.scss";

.menu-item {
   background-color: $c-cream;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   padding: 1.2rem;

   .item-img {
      border-radius: 20px;
      overflow: hidden;
   }

   .item-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
}

.item-head {
   margin-top: 2rem;

   h4 {
      font-size: $fs-400;
      font-weight: 500;
   }

   p {
      color: darken($c-white, 60%);
      font-size: $fs-300;
      font-style: italic;
      margin-top: 0.5rem;
   }
}

.item-lower {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 3rem;

   .item-price {
      font-weight: 500;
   }
}

.add-to-cart {
   background-color: darken($c-red-light, 5%);
   border: none;
   border-radius: 20px;
   color: $c-white;
   font-size: $fs-300;
   padding: 0.8rem 1.6rem;
   transition: all 0.4s ease;
}

.btns-qty {
   display: flex;
   align-items: center;
   gap: 0.7rem;

   .btn-qty-adjust {
      background-color: darken($c-red-light, 5%);
      border: none;
      border-radius: 50%;
      color: $c-white;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
      padding: 0;
      transition: all 0.4s ease;
   }

   .item-qty {
      font-weight: 500;
   }
}

@media (max-width: 900px) {
   .menu-item {
      padding: 1.5rem;
      .item-img {
         display: none;
      }

      .item-info {
         flex-direction: row;
         gap: 5rem;
      }
   }

   .item-head {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      margin-top: 0;

      p {
         font-size: $fs-200;
         margin-top: 0;
      }
   }

   .item-lower {
      flex-direction: column;
      gap: 1rem;
      margin-top: 0;
   }
}
