@import "../../index.scss";

.change-password {
   margin-top: 10rem;
   display: flex;
   gap: calc(2rem + 2vw);

   header {
      flex: 1 1 40%;

      h3 {
         padding-top: 1rem;
         margin-bottom: 2rem;
      }

      p {
         color: darken($c-white, 60%);
      }
   }

   .change-pass-form {
      flex: 1 1 60%;
      border-radius: 5px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      padding: 4rem 3rem;
   }
}

.fields-wrapper {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: calc(1rem + 2vw);
}

.form-control {
   label {
      display: block;
      font-weight: 500;
      margin-bottom: 0.8rem;
   }

   input {
      background-color: darken($c-white, 3%);
      border: none;
      border-radius: 5px;
      font-weight: 500;
      outline: none;
      width: 100%;
      padding: 1.2rem;
   }
}

.btn-wrapper {
   text-align: center;

   button {
      background-color: darken($c-red-fire-brick, 5%);
      border: 2px solid darken($c-red-fire-brick, 5%);
      border-radius: 25px;
      color: $c-white;
      font-weight: 500;
      font-size: $fs-300;
      padding: 0.9rem 1.8rem;
      margin-top: 4rem;
   }
}

@media (max-width: 1024px) {
   .fields-wrapper {
      grid-template-columns: 1fr;
      row-gap: 4rem;
   }
}

@media (max-width: 768px) {
   .change-password {
      flex-direction: column;

      header h3 {
         padding-top: 0;
      }
   }

   .form-control label {
      font-size: $fs-300;
   }
}

@media (max-width: 500px) {
   .change-password .change-pass-form {
      padding: 4rem 2rem;
   }
}
