@import "../../index.scss";

.personal-info {
   display: flex;
   gap: 5rem;

   .info-head-wrapper {
      flex: 1 1 40%;

      header {
         display: flex;
         align-items: center;
         gap: 1rem;
         margin-bottom: 2rem;

         .btn-edit {
            background-color: transparent;
            border: none;
            color: darken($c-yellow-mustard, 10%);
            font-size: $fs-300;
            font-weight: 500;

            &:disabled {
               color: lighten($c-yellow-mustard, 20%);
               cursor: auto;
            }
         }
      }

      p {
         color: darken($c-white, 60%);
      }
   }

   .info-form {
      flex: 1 1 60%;
      border-radius: 5px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      padding: 4rem 3rem;

      .fields-wrapper {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 4rem;
      }
   }
}

.form-control {
   &:nth-child(3) {
      grid-column: 1/ -1;
   }

   label {
      display: block;
      font-weight: 500;
      margin-bottom: 0.8rem;
   }

   input {
      background-color: darken($c-white, 3%);
      border: none;
      border-radius: 5px;
      font-weight: 500;
      outline: none;
      width: 100%;
      padding: 1.2rem;
   }
}

.buttons {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 3rem;
   margin-top: 4rem;

   button {
      background-color: darken($c-red-fire-brick, 5%);
      border: 2px solid darken($c-red-fire-brick, 5%);
      border-radius: 25px;
      color: $c-white;
      font-weight: 500;
      font-size: $fs-300;
      padding: 1rem 2rem;
      transition: all 0.4s ease-in-out;

      &:disabled {
         background-color: transparent;
         border: 2px solid lighten($c-red-fire-brick, 10%);
         color: lighten($c-red-fire-brick, 10%);
         cursor: auto;
      }
   }
}
