@import "../../index.scss";

.personal-info {
   // background-color: $c-red-light;
   margin: 3rem 0;

   header {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 2rem;

      h3 {
         font-size: $fs-500;
         font-weight: 600;
      }
   }

   .btn-edit {
      border: none;
      background-color: transparent;
      color: darken($c-yellow-mustard, 10%);
      font-weight: 500;
      font-size: $fs-300;

      &:disabled {
         color: lighten($c-yellow-mustard, 10%);
         cursor: auto;
      }
   }
}

.info-form {
   display: flex;
   flex-direction: column;
   gap: 2rem;

   .form-control {
      background-color: $c-red-light;
      border: 2px solid $c-red-light;
      border-radius: 10px;
      padding: 1.5rem;
      transition: all 0.4s ease-in-out;

      &.edit {
         border: 2px solid darken($c-red-light, 15%);
      }

      label {
         color: darken($c-white, 55%);
         display: block;
         font-size: $fs-300;
         margin-bottom: 0.5rem;
      }

      input {
         background-color: transparent;
         border: none;
         font-weight: 500;
         width: 100%;

         &:focus {
            outline: none;
         }
      }
   }
}

.buttons {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 3rem;
   margin-top: 3rem;

   button {
      background-color: darken($c-red-fire-brick, 10%);
      border: none;
      border-radius: 30px;
      color: $c-white;
      padding: 1rem 2rem;

      &:disabled {
         background-color: lighten($c-red-fire-brick, 5%);
         cursor: auto;
      }
   }
}
