@import "../../index.scss";

.deals {
   padding: $pad-y-5_9;
}

.deals-head {
   text-align: center;
   margin-bottom: 5rem;

   h2 {
      font-size: $fs-600;
   }
}

.deals-inner {
   background-color: $c-white-cream;
   text-align: center;
   padding: 5rem 2rem;
   border-radius: 20px;

   p {
      font-size: $fs-700;
      font-weight: 700;
   }
}
