@import "../../index.scss";

.main-head {
   padding: $pad-3y;
}

.nav-primary {
   display: flex;
   justify-content: space-between;

   .nav-left,
   .nav-right {
      display: flex;
      gap: 4rem;

      li {
         display: flex;
         align-items: center;
      }
   }

   .nav-right {
      gap: 3rem;

      // Vertically centers SVG
      a {
         display: flex;
         align-items: center;
      }
   }

   :global(.btn-mustard) {
      padding: 1rem 2.5rem;
   }
}

.nav-secondary {
   display: none;
}

// React router active class
.active-link {
   color: $c-mustard;
   font-weight: 500;
}

@media (max-width: 1024px) {
   .nav-primary {
      display: none;
   }

   .nav-secondary {
      display: flex;
      justify-content: space-between;

      .hamburger {
         display: flex;
         align-items: center;
         background-color: transparent;
         border: none;
         z-index: 100;
      }

      .cart {
         display: flex;
         align-items: center;

         a {
            display: flex;
            align-items: center;
         }
      }

      .side-drawer {
         background-color: $c-white;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 2rem;
         position: fixed;
         top: 0;
         left: -100%;
         height: 100%;
         width: 100%;
         z-index: 95;
         transition: transform 0.4s ease-in-out;

         &.active {
            transform: translateX(100%);
         }
      }

      button {
         background-color: transparent;
         border: none;
      }
   }
}
