@import "../../index.scss";

.navbar {
   flex: 1;

   ul {
      height: 100%;
      display: flex;
      gap: 4rem;
   }

   li {
      display: flex;
      align-items: center;

      &:nth-child(5) {
         margin-left: auto;
      }
   }

   // Vertically centers SVG
   a {
      display: flex;
      align-items: center;
   }

   :global(.btn-mustard) {
      padding: 1rem 2.5rem;
   }
}

.active-link {
   color: $c-mustard;
   font-weight: 500;
}
