@import "../../index.scss";

.navbar {
   flex: 1;

   ul {
      height: 100%;
      display: flex;
      gap: 4rem;
   }

   li {
      display: flex;
      align-items: center;

      &:nth-child(4) {
         margin-left: auto;
      }
   }

   // Vertically centering svg
   a {
      display: flex;
      align-items: center;
      font-weight: 500;
   }
}

.active-link {
   color: $c-red;
}
