@import "../../index.scss";

.offers {
   padding: $pad-y4_8;

   &-head {
      text-align: center;
      margin-bottom: 5rem;

      h2 {
         color: darken($c-yellow-mustard, 5%);
         font-size: $fs-600;
      }
   }
}

.offers-inner {
   background-color: $c-red-light;
   text-align: center;
   padding: $pad-y6-x2;
   border-radius: 20px;

   p {
      font-size: $fs-700;
      font-weight: 600;
   }
}
