@import "../../index.scss";

.contact {
   padding: $pad-y5_8;

   &-head {
      text-align: center;
      margin-bottom: 5rem;

      h2 {
         color: darken($c-yellow-mustard, 5%);
         font-size: $fs-700;
         margin-bottom: 1rem;
      }

      span {
         color: darken($c-white, 6%);
         font-weight: 500;
      }
   }
}
