@import "../index.scss";

.layout {
   background-image: linear-gradient(#fcf1da 1.5rem, $c-white 15rem);
   display: flex;
   flex-direction: column;
   min-height: 100vh;

   .main-content {
      flex-grow: 1;
   }
}
