@import "../../index.scss";

.cart-item {
   background-color: $c-red-light;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 5rem;
   padding: 2rem 4rem 2rem 2rem;
   margin-bottom: 1rem;
}

.item-name {
   font-weight: 500;
}

.item-info {
   display: flex;
   align-items: center;
   gap: clamp(6rem, calc(0.1rem + 6vw), 10rem);
}

.item-price {
   text-align: end;
   min-width: 50px;
}

.btns {
   display: flex;
   align-items: center;
   gap: 0.5rem;

   :global(.btn-red-brick) {
      @include btn-props(50%, null, null, 0);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
   }

   .item-qty {
      text-align: center;
      min-width: 28px;
   }
}

@media (max-width: 768px) {
   .cart-item {
      flex-direction: column;
      gap: 2rem;
      padding: 2rem;
   }

   .item-name {
      align-self: flex-start;
   }

   .item-info {
      justify-content: space-between;
      width: 100%;
   }
}
