@import "../../index.scss";

.footer {
   background-color: $c-navy;
   color: darken($c-white, 8%);
}

.footer-upper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   padding: $pad-6y;
   border-bottom: 1px solid darken($c-white, 65%);
}

// Block-1
.logo {
   padding-right: 3rem;

   h2 {
      font-size: $fs-600;
      margin-bottom: 3rem;
   }

   span {
      color: $c-mustard;
   }
}

// Block-2
.navigation {
   padding-left: 3rem;

   h3 {
      color: $c-mustard;
      font-size: 2rem;
      margin-bottom: 3rem;
   }

   li {
      margin-bottom: 2rem;

      &:last-child {
         margin: 0;
      }
   }
}

// Block-3
.contact {
   h3 {
      color: $c-mustard;
      font-size: 2rem;
      margin-bottom: 3rem;
   }

   li {
      margin-bottom: 3rem;
      display: flex;
      align-items: center;
      gap: 2rem;

      &:last-child {
         margin: 0;
      }
   }
}

.footer-lower {
   display: flex;
   justify-content: space-between;
   padding: $pad-6y;

   span {
      display: flex;
      align-items: center;
   }

   .external-links {
      display: flex;
      gap: 2.5rem;

      li {
         display: flex;
         align-items: center;

         &:hover {
            cursor: pointer;
         }
      }
   }
}

@media (max-width: 768px) {
   .footer-upper {
      grid-template-columns: 1fr;
      gap: 3rem;
   }

   // Block-1
   .logo {
      padding: 0;
   }

   // Block-2
   .navigation {
      padding: 0;
   }

   .footer-lower {
      flex-direction: column-reverse;
      gap: 3rem;
      align-items: center;
   }
}
