@import "../../index.scss";

.cart-summary {
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   padding: 4rem;

   h3 {
      font-size: $fs-500;
   }

   :global(.btn-red-brick) {
      @include btn-props(20px, null, null, 9px 16px);
      width: 100%;
   }
}

.summary-content {
   border-bottom: 1px solid darken($c-white, 15%);
   display: flex;
   justify-content: space-between;
   padding-bottom: 3rem;
   margin: 3rem 0;
}

.feedback {
   color: $c-red-brick;
   font-weight: 500;
   text-align: center;
   margin-top: 2rem;
}
