// ---------- CONFIG ---------- //
// Fonts
$font-primary: "Fira Sans", sans-serif;

// Header sizes
$h1: 3rem;
$h2: clamp(3.5rem, calc(2rem + 2.25vw), 5.5rem);
$h3: 3rem;
$h4: 2rem;

// Text sizes
$font-l: clamp(1.8rem, calc(1.5rem + 0.5vw), 2.2rem);
$font-m: 1.7rem;
$font-s: 1.5rem;

// Colors
$c-black-matte: #252525;
$c-cream: #fff8ed;
$c-mustard: #fb9300;
$c-white: #fff;

// Paddings & Margins
$pad-5y: 5rem 0;
$pad-3y: 3rem 0;

// ---------- GLOBAL STYLES ---------- //
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-kerning: auto;
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}

body {
   background-color: $c-white;
   color: $c-black-matte;
   font-family: $font-primary;
   line-height: 1.5;
}

h1 {
   font-size: $h1;
}

h2 {
   font-size: $h2;
}

h3 {
   font-size: $h3;
}

h4 {
   font-size: $h4;
}

div,
span,
p,
a,
li,
button,
label,
input {
   font-size: $font-m;
}

ul {
   list-style: none;
}

a {
   color: inherit;
   text-decoration: none;
}

button {
   color: inherit;
   cursor: pointer;
   font-family: inherit;

   &:focus {
      outline: none;
   }
}

// ---------- UTILITY CLASSES & MIXINS ---------- //
.container {
   width: 90%;
   max-width: 1280px;
   margin: 0 auto;
}

// Buttons
%btn-common {
   border: none;
   border-radius: 3rem;
   padding: 1.5rem 3rem;
   transition: all 0.4s ease;
}

.btn {
   &-mustard {
      @extend %btn-common;
      background-color: $c-mustard;
      color: $c-white;

      &:hover {
         background-color: darken($c-mustard, 8%);
      }
   }
}
