@import "../../index.scss";

.login-form,
.sign-up-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: $pad-y-5_9;

   :global(.btn-tomato) {
      margin-top: 2rem;
      border: 2px solid $c-red-light;
      border-radius: 10px;
      padding: 1.5rem;
      width: 100%;
      font-weight: 500;
   }
}

.form-inner {
   box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;
   border-radius: 15px;
   padding: 6rem 2.5rem;
   width: 100%;
   max-width: 450px;

   h2 {
      color: $c-red-light;
      text-align: center;
      margin-bottom: 5rem;
   }
}

.form-control {
   margin-bottom: 3rem;

   label {
      display: block;
      margin-bottom: 0.8rem;
   }

   input {
      background-color: darken($c-white, 2%);
      border: 2px solid darken($c-white, 8%);
      border-radius: 10px;
      color: $c-black-matte;
      width: 100%;
      padding: 1.5rem;

      &:focus {
         outline: none;
      }
   }
}

.logging-message {
   font-weight: 500;
   color: darken($c-red-light, 10%);
   text-align: center;
   margin-top: 5rem;
}

.text-row {
   text-align: center;
   margin-top: 3rem;

   button {
      border: none;
      background-color: transparent;
      color: $c-red-light;
      margin-left: 0.5rem;
      font-weight: 500;
   }
}
