@import "../../index.scss";

.login-form,
.sign-up-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: $pad-y4_8;

   :global(.btn-red-brick) {
      @include btn-props(5px, null, 500, 10px);
      border: 2px solid $c-red-brick;
      width: 100%;
      margin-top: 3rem;
   }
}

.form-inner {
   box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;
   border-radius: 10px;
   max-width: 420px;
   padding: 5rem 2rem;
   width: 100%;

   header {
      margin-bottom: 5rem;

      h2 {
         color: $c-red-brick;
         font-size: $fs-600;
         text-align: center;
      }
   }
}

.form-control {
   margin-bottom: 3rem;

   label {
      display: block;
      margin-bottom: 0.8rem;
   }

   input {
      background-color: darken($c-white, 2%);
      border: 2px solid darken($c-white, 8%);
      border-radius: 5px;
      color: $c-black-matte;
      width: 100%;
      padding: 1rem;

      &:focus {
         outline: none;
      }
   }
}

.content-checkbox {
   display: flex;
   align-items: center;
   gap: 1rem;

   label {
      cursor: pointer;
      font-size: $fs-300;
   }
}

.loading-msg {
   color: darken($c-red-brick, 10%);
   font-weight: 500;
   text-align: center;
   margin-top: 5rem;
}

.mode-change {
   text-align: center;
   margin-top: 3rem;

   button {
      border: none;
      background-color: transparent;
      color: $c-red-brick;
      font-weight: 500;
      margin-left: 0.5rem;
   }
}
